# Default ignored files
/shelf/
/.idea/workspace.xml
/assets/screenshots/InkScape/
/assets/screenshots/Mockups/
/assets/screenshots/extra/
/assets/screenshots/gimp/
/assets/screenshots/unfinished screengrabs/
