# Default ignored files
/shelf/
CNAME
/assets/screenshots/InkScape/
/assets/screenshots/Mockups/
/assets/screenshots/extra/
/assets/screenshots/gimp/
/assets/screenshots/unfinished screengrabs/


# Node ignored files
node_modules/

# Editors/IDE
/.idea/workspace.xml
.vscode/

# Archives and binary assets
*.zip
*.xcf