# Default ignored files
/shelf/
CNAME
/assets/screenshots/InkScape/
/assets/screenshots/Mockups/
/assets/screenshots/extra/
/assets/screenshots/gimp/
/assets/screenshots/unfinished screengrabs/


# Node ignored files
node_modules/

# Editors/IDE
/.idea/workspace.xml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# Archives and binary assets
*.zip
*.xcf

# GitHub Action Build stuff:
dist/

assets/external/vendor/