/******************************************************************************)
(*                        col scheem 1                                        */
/* The "Anton & Irene" color scheem */


/* standard color... */
::-webkit-input-placeholder {
	color: dimgray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
	color: rgb(50, 50, 50);
}

.table-row-selectable tr:hover{
	outline-color: dimgray;
}

.centerRoundButtCommon{
	background-color: transparent;
}
.drop-active {
	border-color: lightgray;
}
.stOnOffButton,
.loopButt{
	outline-color: lightgray;
}
.stOnOffButton,
.loopButt{
	background-color: lightgray;
}

.grayout-next-on-non-active:not(.active) ~*,
.grayOut{
	color: gray;
	background-color: lightgray;
}


/* oddballs */
.textareaStandard{
	background: lightblue;
	border-color: lightblue;
}

.textareaEdit{
	background: white;
}

.fullscreen{
	background-color: black;
}

.likeLink{
	background-color: transparent;
	color: blue;
}

.outerDialog{
	background-color: rgba(0, 0, 0, 0.5);
}

.helpText{
		color: gray;
}

.colorPicker{
	border-color: black;
}
.colorPickerSelected{
	border-color: purple;
}







/* the background */
.backgroundColor,
.extraBorder{
	background-color: #bccbde;
}



/* regularButton */
.regularButton:focus,
.regularButton:hover,
.regularButton:active{
	outline-color: #b0bec5; /*regularButton*/
}
.regularButton{
	background-color: #b0bec5; /*regularButton*/
}






/* primaryColor */
.primaryColor,
.bgEasyRead {
	background-color: #c2dde6;
	background: #c2dde6;
}




/* secondaryColor */
.secondaryColor,
.areaParent > div,
.popUpSquare,
.innerDialog {
	background-color: #e6e9f0;
}

.marker-parent li {
	border-top-color: #e6e9f0;
}




/* accentColor1 */
.drop-active.selected{
	border-color: #431c5d; /* accentColor1 */
}
	
.selected:hover, 
.selected td:hover,
.currentLoop:hover, 
.currentMarker:hover, 
.currentStopMarker:hover,
.selected:active,
.selected td:active,
.currentLoop:active, 
.currentMarker:active, 
.currentStopMarker:active {  outline-color: #431c5d;}  /* accentColor1 */

.accentColor1,
.selected,
.selected td,
.currentLoop,
.currentMarker,
.currentStopMarker,
#dataSongTable tr.selected td,
.selected.important {
	background-color: #431c5d; /* accentColor1 */
	color: white;
}
.play .secondsLeft,
.play .loopTimesLeft{
		color: #431c5d; /* accentColor1 - IF GREEN ISH (or works for that... */ 
}





/* accentColor2 */ 

.important:hover,
.important:active,
.special:hover,
.special:active{
	outline-color: #e05915;
}

.roundButt,
.roundButt:hover,
.roundButt:active, /* slå ihop dessa tre ovan, är itne dom onödiga? */
.selected.important {
	border-color: #e05915; /* accentColor2 */
}
.importantLeftLine {
	border-left-color: #e05915; /*accentColor2*/
}

.accentColor2,
.important,
.important td {
	background-color: #e05915; /* accentColor2 */
}
.pause .secondsLeft,
.pause .loopTimesLeft{
		color: #e05915; /* accentColor2 - IF RED ISH... */ 
}


.important{
	color:#fff;
	text-shadow:#C17C3A 0 -1px 0; /* NOTISE: not the same color... */
}


.important td {
	color: #fff;
	text-shadow: none;
}






/* accentColor3 */
.active:hover,
.active:active{
	outline-color: #AAAF2B; /* accentColor3 */
}

.accentColor3,
.active{
	background-color: #AAAF2B; /* accentColor3 */
	color: white;
}
.wait .secondsLeft,
.wait .loopTimesLeft{
	color: #AAAF2B; /* accentColor3 - IF YELLOW ISH... */ 
}


/* end "Anton & Irene" color scheeme */








