/******************************************************************************)
(*                        col scheem 4                                        */
/* The "wikihow.com/Create-a-Simple-Web-Page-with-HTML" color scheem          */


/* standard color... */
::-webkit-input-placeholder {
	color: dimgray;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
	color: inherit;
}

.table-row-selectable tr:hover{
	outline-color: dimgray;
}

.centerRoundButtCommon{
	background-color: transparent;
}
.drop-active {
	border-color: #BDBDBD;
}
.stOnOffButton,
.loopButt{
	outline-color: #BDBDBD;
}
.stOnOffButton,
.loopButt{
	background-color: #BDBDBD;
}

.gray-out-next-on-non-active:not(.active) ~*,
.grayOut{
	color: #595959;
	background-color: lightgray;
}



/* oddballs */
.textareaStandard{
	background: #FFFDE7;
	border-color: #FFFDE7;
	background: #FFFEEA;
	border-color: #FFFEEA;
	background: #f6f4ed;
	border-color: #f6f4ed;

}

.textareaEdit{
	background: white;
}

.fullscreen{
	background-color: black;
}

.likeLink{
	background-color: transparent;
	color: blue;
}

.outerDialog{
	background-color: rgba(0, 0, 0, 0.5);
}

.helpText{
		color: #696969;
}

.colorPicker{
	border-color: black;
}
.colorPickerSelected{
	border-color: #AD974F;
}




/* the background */
.backgroundColor,
.extraBorder{
	background-color: #EAEAEA; /* lightgray */
	color: #545454;
}
.backgroundColor a {
	color: blue;
}




/* regularButton */
.regularButton:focus,
.regularButton:hover,
.regularButton:active{
	outline-color: #E0E0E0; /*regularButton*/
}
.regularButton{
	background-color: #E0E0E0; /*regularButton*/
}






/* primaryColor */
.primaryColor,
.bgEasyRead {
	background-color: #fcfcfc;
	background: #f0f0f0;
	color: #545454;
}
.primaryColor a {
/*  color: white; */
}




/* secondaryColor */
.secondaryColor,
.areaParent > div,
.popUpSquare,
.innerDialog {
	background-color: #fcfcfc;
	color: #545454;
}
li[isdirectory="true"]:not(:first-child) {
	border-top-color: #fcfcfc; /* secondaryColor */
}

.marker-parent li {
	border-top-color: #fcfcfc;
}





/* accentColor1 */
.drop-active.selected{
	border-color: #AD974F; /* accentColor1 */
}

.selected:hover,
.selected td:hover,
.currentLoop:hover,
.currentMarker:hover,
.currentStopMarker:hover,
.selected:active,
.selected td:active,
.currentLoop:active,
.currentMarker:active,
.currentStopMarker:active {  outline-color: #AD974F; }  /* accentColor1 */

.accentColor1,
.selected,
.selected td,
.currentLoop,
.currentMarker,
.currentStopMarker,
.selected.important {
	background-color: #AD974F; /* accentColor1 */
	color: white;
}
.play .secondsLeft,
/*.importantInverse,*/
.play .loopTimesLeft{
		color: #AD974F; /* accentColor1 - IF GREEN ISH (or works for that... */
}


/* accentColor2 */
.important:hover,
.important:active,
.special:hover,
.special:active{
	outline-color: #231F20;
}


.roundButt, .roundButt2,
.roundButt:hover,
.roundButt:active, /* slå ihop dessa tre ovan, är itne dom onödiga? */
.selected.important {
	border-color: #231F20; /* accentColor2 */
}

.accentColor2,
.important,
.important td {
	background-color: #231F20; /* accentColor2 */
}
.pause .secondsLeft,
.pause .loopTimesLeft{
		color: #231F20; /* accentColor2 - IF RED ISH... */
}


.important{
	color:#fff;
	text-shadow:#fafafa 0 -1px 0; /* NOTISE: not the same color... */
}

.important td {
	color: #fff;
	text-shadow: none;
}





/* accentColor3 */
.active:hover,
.active:active{
	outline-color: #8E793E; /* accentColor3 */
}

.accentColor3,
.active{
	background-color: #8E793E; /* accentColor3 */
	color: black;
}

.wait .secondsLeft,
.wait .loopTimesLeft{
	color: #8E793E; /* accentColor3 - IF YELLOW ISH... */
}


/* end "Anton & Irene" color scheeme */


/* Marker color section */
.markerColorAqua {	background-color: Aqua;	color: black; }
.markerColorBisque {	background-color: Bisque;	color: black; }
.markerColorChartreuse {	background-color: Chartreuse;	color: black; }
.markerColorCoral {	background-color: Coral;	color: black; }
.markerColorPink {	background-color: Pink;	color: black; }
.markerColorBurlywood {	background-color: Burlywood;	color: black; }
.markerColorDarkcyan {	background-color: Darkcyan;	color: black; }
.markerColorYellowgreen {	background-color: Yellowgreen;	color: black; }
.markerColorPeru {	background-color: Peru;	color: black; }
.markerColorViolet {	background-color: Violet;	color: black; }


input[type="text"], input[type="search"] {
	border: solid 1px #EAEAEA;
}
