/*
 * This style should be app-independent
 * it should be a standard-style to use, like bootstrap
 *
 * Note: use em
 *
 */


/* Instructions:
Notation
Spacing utilities that apply to all breakpoints, from xs to xl, have no breakpoint abbreviation in them. This is because those classes are applied from min-width: 0 and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.

The classes are named using the format {property}{sides}-{size} for xs and {property}{sides}-{breakpoint}-{size} for sm, md, lg, and xl.

Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element
Where size is one of:

0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer * .25
2 - (by default) for classes that set the margin or padding to $spacer * .5
3 - (by default) for classes that set the margin or padding to $spacer
4 - (by default) for classes that set the margin or padding to $spacer * 1.5
5 - (by default) for classes that set the margin or padding to $spacer * 3
auto - for classes that set the margin to auto
(You can add more sizes by adding entries to the $spacers Sass map variable.)



*/

.h-0	{	height: 0 		!important }


.m-0 {	margin: 0			!important;	}
.m-1 {	margin: 2px		!important; }
.m-2 {	margin: 5px		!important; }
.m-3 {	margin: 10px	!important; }
.m-4 {	margin: 15px	!important; }
.m-5 {	margin: 20px	!important; }

.mx-0 {	margin-left: 	0 !important;	margin-right: 0 	!important;	}

.my-0 {	margin-top: 	0 !important;	margin-bottom: 0	!important;	}

.mt-0 {	margin-top:	0			!important;	}
.mt-1 {	margin-top:	2px		!important;	}
.mt-2 {	margin-top:	5px		!important;	}
.mt-3 {	margin-top:	10px	!important;	}
.mt-4 {	margin-top:	15px	!important;	}
.mt-5 {	margin-top:	20px	!important;	}

.mb-0 {	margin-bottom:	0			!important;	}
.mb-1 {	margin-bottom:	2px		!important;	}
.mb-2 {	margin-bottom:	5px		!important;	}
.mb-3 {	margin-bottom:	10px	!important;	}
.mb-4 {	margin-bottom:	15px	!important;	}
.mb-5 {	margin-bottom:	20px	!important;	}

.mr-0 {	margin-right:	0			!important;	}
.mr-1 {	margin-right:	2px		!important;	}
.mr-2 {	margin-right:	5px		!important;	}
.mr-3 {	margin-right:	10px	!important;	}
.mr-4 {	margin-right:	15px	!important;	}
.mr-5 {	margin-right:	20px	!important;	}

.ml-0 {	margin-left:	0			!important;	}
.ml-1 {	margin-left:	2px		!important;	}
.ml-2 {	margin-left:	5px		!important;	}
.ml-3 {	margin-left:	10px	!important;	}
.ml-4 {	margin-left:	15px	!important;	}
.ml-5 {	margin-left:	20px	!important;	}


.px-0 {	padding-left:	0			!important;		padding-right:	0			!important;	}
.py-0 {	padding-top:	0			!important;		padding-bottom:	0			!important;	}
.px-1 {	padding-left:	2px		!important;		padding-right:	2px		!important;	}
.py-1 {	padding-top:	2px		!important;		padding-bottom:	2px		!important;	}
.px-2 {	padding-left:	5px		!important;		padding-right:	5px		!important;	}
.py-2 {	padding-top:	5px		!important;		padding-bottom:	5px		!important;	}
.px-3 {	padding-left:	10px	!important;		padding-right:	10px	!important;	}
.py-3 {	padding-top:	10px	!important;		padding-bottom:	10px	!important;	}
.px-4 {	padding-left:	15px	!important;		padding-right:	15px	!important;	}
.py-4 {	padding-top:	15px	!important;		padding-bottom:	15px	!important;	}
.px-5 {	padding-left:	20px	!important;		padding-right:	20px	!important;	}
.py-5 {	padding-top:	20px	!important;		padding-bottom:	20px	!important;	}



.p-0 {	padding:	0			!important;	}
.p-1 {	padding:	2px		!important;	}
.p-2 {	padding:	5px		!important;	}
.p-3 {	padding:	10px	!important;	}
.p-4 {	padding:	15px	!important;	}
.p-5 {	padding:	20px	!important;	}

.pt-0 {	padding-top:	0			!important;	}
.pt-1 {	padding-top:	2px		!important;	}
.pt-2 {	padding-top:	5px		!important;	}
.pt-3 {	padding-top:	10px	!important;	}
.pt-4 {	padding-top:	15px	!important;	}
.pt-5 {	padding-top:	20px	!important;	}

.pb-0 {	padding-bottom:	0			!important;	}
.pb-1 {	padding-bottom:	2px		!important;	}
.pb-2 {	padding-bottom:	5px		!important;	}
.pb-3 {	padding-bottom:	10px	!important;	}
.pb-4 {	padding-bottom:	15px	!important;	}
.pb-5 {	padding-bottom:	20px	!important;	}

.pr-0 {	padding-right:	0			!important;	}
.pr-1 {	padding-right:	2px		!important;	}
.pr-2 {	padding-right:	5px		!important;	}
.pr-3 {	padding-right:	10px	!important;	}
.pr-4 {	padding-right:	15px	!important;	}
.pr-5 {	padding-right:	20px	!important;	}

.pl-0 {	padding-left:	0			!important;	}
.pl-1 {	padding-left:	2px		!important;	}
.pl-2 {	padding-left:	5px		!important;	}
.pl-3 {	padding-left:	10px	!important;	}
.pl-4 {	padding-left:	15px	!important;	}
.pl-5 {	padding-left:	20px	!important;	}


/* Alignment */
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/* Transformation */
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


.flip-both					{ transform: scale(-1); }
.flip-vertical			{ transform: scaleY(-1); }
.flip-horizontal		{ transform: scaleX(-1); }


.border-0 {	border: solid	0		;	}
.border-1 {	border: solid	2px	;	}
.border-2 {	border: solid	5px	;	}
.border-3 {	border: solid	10px;	}
.border-4 {	border: solid	15px;	}
.border-5 {	border: solid	20px;	}

.border-right-0 { border-right: solid 0;  }

.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help !important; }
.cursor-alias { cursor: alias; }
.cursor-progress { cursor: progress; }


.list-style-type-decimal {
	list-style-type: decimal;
}

/* Display */
.d-none{		display:none!important		}
.d-flex{		display:flex!important		}

.flex-wrap {
	flex-wrap: wrap;
}

@media (min-width:576px){
	.d-sm-none{display:none!important}
	.d-sm-flex{display:-ms-flexbox!important;display:flex!important}
}
