/*
	This file is part of Troff.

	Troff is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License,
	or (at your option) any later version.

	Troff is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Troff. If not, see <http://www.gnu.org/licenses/>.
*/


/*
	 http://css-tricks.com/snippets/css/a-guide-to-flexbox/
	 https://developer.mozilla.org/en-US/docs/Web/CSS/flex
*/

.textareaEdit{
	z-index: 99;
}

video, .full-width{
	width: 100%;
}

.full-height {
    height: 100%;
}

.contain-object{
	object-fit: contain;
}

.fullscreen{
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	display: flex;
}


.mediaButton{
/*  width: 97%; */
	padding: 1px 6px;
	margin: 2;
	text-align: left;
	display: block;
}

/*
#gallery{
	display: flex;
	flex-direction: column;
	/* height: 400px; * /
	background: pink;
	overflow-y: auto;
	align-items: flex-start;
}
*/

html {
    height: 100%;
}

body{
	display: flex;
	font-family: Arial, "Open Sans", sans-serif;
	height: 100%;
	overflow: hidden !important;
}

.no-outline-on-focus:focus {
	outline: none;
}

h1 {
/*  font-weight: 200;
	margin: 4px;
*/
	align-self: baseline;
	margin-bottom: 0;
}

h2{
/*  font-family: helvetica;*/
/*  font-size: 18px; */
	margin-right: 3px;
}

p, .notifyjs-corner span {
	display: inline-block;
	font-size: 11px;
}
.notifyjs-corner span {
	padding: 4px 0;
	font-weight: normal;
}

.normalSize{
	font-size: 14px;
}

.smallSize{
	font-size: 11px; /* This is standard... */
	margin-top: 6px;
}

#gallery, #songlistsArea{
/*  overflow-y: auto;
	overflow-x: hidden;
	width:100%;
		*/

	flex: 1;
}


.likeLink{
	text-decoration: underline;
	cursor: pointer;
}

input, .linkButton{
	font-size: 14px;
	margin: 2px;
}

.oneRow{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}



nav{
	display: flex;
}

body section{
	padding: 5px;
}

#blur-hack {
	position: absolute;
	opacity: 0;
	top:-100px;
}

#markerSection, .markerSection{
		display: flex;
		padding: 0 5px 0 0;
}

#userNoteSection{
	flex-basis: 50%;
}

#songsSection{
	flex-baiss: 0%;
}

.buttonSection{
	width: 12px;
	padding-left: 13px;
	padding-right: 0;
}

.flexSection {
	display: flex;
	flex: 1;
	padding: 0;
	margin: 0;
}

.dataOutput h2{
	display: inline-flex;
}

#ControlLoop div p, #ControlLoop div div{
		margin-right: 5px;
}


#markerSection ul li,
#songlistsArea ul li,
#ControlMarker div,
#ControlTime div,
#ControlLoop div{
	display: flex;
	align-items: center;
}



.loopClass input{
	margin: 1px;
	border: 0;
	padding: 0;
	padding-right: 1px;
}


.sliderRange{
		-webkit-appearance: slider-vertical;
		appearance: slider-vertical;
		width: 15px;
		min-height: 42px;
}

.min-height-row{
	min-height: 22px;
}


.min-height-0 {	min-height:	0			!important;	}
.min-height-1 {	min-height:	2px		!important;	}
.min-height-2 {	min-height:	5px		!important;	}
.min-height-3 {	min-height:	10px	!important;	}
.min-height-4 {	min-height:	15px	!important;	}
.min-height-5 {	min-height:	20px	!important;	}
.min-height-6 {	min-height:	40px	!important;	}
.min-height-7 {	min-height:	80px	!important;	}
.min-height-8 {	min-height:	160px	!important;	}
.min-height-9 {	min-height:	320px	!important;	}
.min-height-10{	min-height:	640px	!important;	}


.doubleSliders {
	display: flex;
	height: 100%;
}

.sliderInfo{
		align-items: center;
		display: flex;
		flex-direction: column;
}

.sliderInfoDemo {
	height: 124px;
	padding-right: 7px;
}

.popUpSquare{
	display: flex;
	flex-direction: column;
	z-index: 2;
	margin: 5px;
	max-width: 90%;
	max-height: 90%;
	padding: 5px;
}

.popUpSquare p a{
		margin: 0px;
}

.almost-full-size{
	width: 90%;
	height: 90%;
}

.plusMinusButton, .flex-display{
		display: flex;
}

.sliderInfo p{
		display: inline-block;
}

.sliderInfo input{
	border: 0;
}


/* button style mm */
.dataOutput div{
	 display: inline-flex;
}


#mediaInfoBox div{
	text-align: center;
}
#currentSong{
	font-size: 18px;
	font-weight: bold;
}
#currentArtist{
	font-size: 14px;
}
#currentAlbum{
	font-size: 12px;
}

.textareaStandard{
	flex: 1;
	margin: 3px 0;
	outline: none;
	resize: none;
/*  width: 300px; */

}

.inlineBlock {
	display: inline-block;
}


/* the style for the time ***************************************/
#activePlayRegion, .activePlayRegionDemo{
		width: 21px;
		position: absolute;
		margin-top: 16px;
		height: calc(100% - 32px);
}

.activePlayRegionDemo {
	height: 42px;
	margin-top: 24px;
}


#timeBar, .timeBarDemo{
		-webkit-appearance: slider-vertical;
		-moz-appearance: slider-vertical;
		appearance: slider-vertical;
		height: 98%;
		height: calc(100% - 20px);
		margin: 10px 0;
		/*
				first margin component needs to be
				half of second height component.
		*/
		width: 15px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
}
#timeBarDiv, .timeBarDiv{
		width: 20px;
		margin-right: 4px;
		margin-left: 3px;
}

.timeBarDemo {
	height: 98px;
}





/* removes the upp/down arrows in number input boxes */
input[type=number] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	height: 0;
	width: 0;
}

input[type=number]{
		width: 20px;
		margin-right: 3px;
		padding: 0;
		text-align: center;
}

input[type=number].numberWide {
	width: 27px; /*enough for typing in "100" */
	text-align: center;
	padding: 0;
}
input[type=number].numberWider{
	width: 36px; /*enough for typing in "3600" = 1h */
	text-align: right;
	padding-right: 3px;
}


#infoSection div{
	font-size: 50vh;    /*Exeption to the "always use %"-rule, allowed to use vh!*/
  margin-bottom: -55px;
}

.loopSquare{
		padding-top: 5px;
		padding-bottom: 5px;
		display: flex;
		align-items: flex-end;
}

#loopButtons input[type="button"]{
		width: 28px;
	 /* padding: 1px 10px; */

}

/*
#loopOld{
		width: 100%;
		flex-direction: column;
}
*/

#loopButtons{
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		width: 100px;
		justify-content: space-around;
}



/* special for songList*/
#songPickerAttachedArea #superSonglistArea,
#songPickerAttachedArea #songListsList {
	max-width: 320px;
}

#songPickerAttachedArea .table-row-selectable tr:hover{
	outline: 0;
}

#songPickerAttachedArea #songPicker {
	/*
	songPicker needs flex: 1; on Attached stade, but not in floating state
	*/
	flex: 1;
}

#songPickerAttachedArea #dataSongTable_filter input[type=search]{
	max-width: 173px;
}
.attached-configure-button .fa-music {
	left: 5px;
	top: 10px;
}
.attached-configure-button .fa-plus {
	left: -10px;
	top: -10px;
	font-size: 12px
}

.negative-my-4px { margin: 0 -4px; }

.negative-my-0 {	margin-right: -0; margin-left: -0;	}
.negative-my-1 {	margin-right: -2px; margin-left: -2px; }
.negative-my-2 {	margin-right: -5px; margin-left: -5px; }
.negative-my-3 {	margin-right: -10px; margin-left: -10px; }
.negative-my-4 {	margin-right: -15px; margin-left: -15px; }
.negative-my-5 {	margin-right: -20px; margin-left: -20px; }

.negative-mx-0 {	margin-top: -0; margin-bottom: -0;	}
.negative-mx-1 {	margin-top: -2px; margin-bottom: -2px; }
.negative-mx-2 {	margin-top: -5px; margin-bottom: -5px; }
.negative-mx-3 {	margin-top: -10px; margin-bottom: -10px; }
.negative-mx-4 {	margin-top: -15px; margin-bottom: -15px; }
.negative-mx-5 {	margin-top: -20px; margin-bottom: -20px; }



/* the style for the IO ***************************************/

.buttWidthStandard{
	width: 85px;
}

.buttWidthMedium-small {
	width: 102px;
}

.buttWidthMedium{
	width: 107px;
}


.svgButt{
	height: 31px;
	width: 42px;
	margin: 2px 0;
	font-size: 18px;
}
rect.svg_rect_btn {
	stroke:#fff;
	fill:#fff;
	fill-opacity:0;
	stroke-opacity:0;
}



input, button, .linkButton, .st-simple-on-off-button{
	border-width: 0;
	padding: 1px 6px;
	font-family: sans-serif;
}

li[isdirectory="true"] {
	padding-top: 4px;
	font-size: 22px;
}
li[isdirectory="true"]:not(:first-child) {
	padding-top: 10px;
	border-top-style: solid;
	border-top-width: 5px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.important{
	font-family:'Helvetica Neue',sans-serif;
	padding: 4px;
	border: 0;
}

.Big{font-size: 18px;}
.big{font-size: 16px;}
.normal{font-size: 14px;}
.small{
	font-size: 12px;
	margin: 1px;
}
.Small{font-size: 10px;}

.outerDialog{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.innerDialog{
	width: 600px;
	padding: 10px 15px;
}

.mediumDialog{
	width: 400px;
	max-width: 100vw;
}
.mediumDialog-1{
	width: 410px;
	max-width: 100vw;
}
.mediumDialog-2{
	width: 420px;
	max-width: 100vw;
}
.mediumDialog-3{
	width: 440px;
	max-width: 100vw;
}

.largeDialog {
	width: 800px;
}

.my-bs-container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}


table {
	border-collapse: separate;
	border-spacing: 8px;
}

.extraBorder{
	height: 4px;
	width: 100vw;
	position: absolute;
}

.bottom-zero {
	bottom: 0;
}

.bulletList{
	list-style: disc;
  margin-left: 15px;
}

.paragraph{
	margin-bottom: 4px;
}

.flexScroll{
	flex: 1;
	overflow-y: auto;
}
.vScroll{
	overflow-y: auto;
}

.scroll{
	overflow: auto;
}

.flexCol{
	display: flex;
	flex-direction: column;
}

.flexRow{
	display: flex;
	flex-direction: row;
}
.flexRow-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flexNone, .flex-none {
	flex: none;
}

.center{
	justify-content: center;
	align-items: center;
	text-align: center;
}

.start{
	align-items: flex-start;
}
.end{
	align-items: flex-end;
}

.flexRowWrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex, .flexOne, .flex-one {
	flex: 1;
}

.rowBreak{
	white-space: normal;
}

.maxMinWidth {
	max-width: 300px;
	min-width: 100px;
}

.maxWidthParent *, .maxWidthChild {
	max-width: 200px;
}

.helpText{
		text-align: center;
		align-self: center;
		margin: 10px;
		margin-top: 40px;
		font-size: 14px;
		max-width: 140px;
		min-width: 100px;
}





.colorPickerWidth{
	width: 110px;
}

.colorPicker{
	width: 18px;
	height: 18px;
	padding: 0px;
}


.scrollableY{
	overflow-y: auto;
	overflow-x: hidden;
}

.areaParent > div{
	margin: 4px;
}

.halfMarginParent > div{
	margin-top: 4px;
}

.leftTextParent > *{
	text-align: left;
}

.marginDialog * {
	margin: 4px 0;
}

.padding-small {
	padding: 4px;
}

.padding-bottom{
	padding-bottom: 4px;
}

.marginBottom{
	margin-bottom: 4px;
}

.margin{
	margin: 4px;
}

.marginLR {
	margin: 0 4px;
}

.noVMargin{
	margin-top: 0;
	margin-bottom: 0;
}





.bold {
	font-weight: bold;
}


/* new color things, without the color*/

.selected.important {
	padding: 0;
}

.selected:hover,
.currentLoop:hover,
.currentMarker:hover,
.currentStopMarker:hover {
	outline-style: solid;
	outline-width: 2px;

}
.selected:active,
.currentLoop:active,
.currentMarker:active,
.currentStopMarker:active {
	outline-style: solid;
	outline-width: 4px;
}


.selected.important {
	border-width: 4px;
	border-style: solid;
}

.roundButt{
	border-width: 21px;
	border-style: solid;
	border-radius: 98px;
	width: 0;
	height: 0;
}
.roundButt input[type="button"]{
	min-width: 0;
	min-height: 0;
}
.roundButt:hover{
	border-width: 23px;
	margin: 2px;
}
.roundButt:active{
	border-width: 25px;
	margin: 0;
}
.important:hover {
	outline-style: solid;
	outline-width: 2px;
}
.important:active{
	outline-style: solid;
	outline-width: 4px;
}

.special:hover {
	outline-style: solid;
	outline-width: 2px;
	z-index: 1;
}
.special:active{
	outline-style: solid;
	outline-width: 4px;
	z-index: 1;
}

a { color: #0051A8; }

.centerRoundButtCommon{
	position: relative;
	font-size: 42px;
	width: 45px;
	height: 45px;
}
.centerRoundButtCommon:hover {
	outline-width: 0;
}

.roundButt2 {
	border-width: 21px;
	border-style: solid;
	border-radius: 21px;
	width: 0;
	height: 0;
}
.height-15 {
	height: 15px
}

.font-size-relative-65 {
	font-size: 0.65em;
}
.font-size-relative-1 {
	font-size: 1em;
}

.m-relative-7 {
	margin: 0.7em !important;
}
.m-relative-4 {
	margin: 0.4em !important;
}

.st-simple-on-off-button{
	color: black;
}

.stOnOffButton:focus,
.loopButt:focus{
	outline: none;
}
.stOnOffButton:hover,
.loopButt:hover{
	outline-style: solid;
	outline-width: 2px;;
}
.stOnOffButton:active,
.loopButt:active{
	outline-style: solid;
	outline-width: 4px;;
}
.regularButton:focus{
	outline: none; /*regularButton*/
}
.regularButton:hover{
	outline-style: solid;
	outline-width: 2px;
}
.regularButton:active{
	outline-style: solid;
	outline-width: 4px;
}


.active:hover {
	outline-style: solid;
	outline-width: 2px;
}
.active:active{
	outline-style: solid;
	outline-width: 4px;
}


.textareaStandard{
	border-style: solid;
	border-width: 4px;
}


.colorPickerSelected{
	border-style: solid;
	border-width: 4px;
}

.colorPicker{
	border-style: solid;
	border-width: 3px;
}




/* checkbox switch widget : */

.switch_checkbox:not(:checked) + .switch_child {
	display: none;
}




#headArea {
	justify-content: space-between;
}



/*
	CSS for my style of tables,
		- sticky header
		- sticky first column
		- smaller padding
*/

table.super-data-table{
	border-collapse: collapse !important;
	text-align: left;
	margin: 0 !important;
}

table.super-data-table td, table.super-data-table th{
	white-space: nowrap;
	padding: 10px 5px !important;
}

table.super-data-table th {
	font-size: 14px;
	font-weight: bold !important;
	position: sticky !important;
	top: 0;
}

table.super-data-table td:first-child, table.super-data-table th:first-child {
	position: sticky;
	left: 0;
}

table.super-data-table th:first-child {
	z-index: 2;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after{
	opacity: 0;
	display: inline-block;
	position: static;
	padding-left: 10px;
}

table.dataTable .dataTables_empty{
	width: 100vw; /*It maxes out at max-width of distant parent*/
	cursor: auto;
}




/*------------------------------*/
.hidden {
	display: none !important;
}

.hidden-in-prod {
	display: none !important;
}

.click-to-select-text {
	cursor: pointer;
}

.cursor-copy {
	cursor: copy !important;
}

/* Marker styles :) */

#markerList li {
	border-top-style: solid;
}


.px-exact-13 {
	padding-right: 13px !important;
	padding-left: 13px !important;
}
.w-exact-38-5 {
	width: 38.5px;
}

.h-exact-35 {
	height: 35px;
}
.mw-exact-239{
	max-width: 239px;
}

.font-size-exact-19 {
	font-size: 19px;
}

.margin-auto {
	margin: auto;
}

.bg-Burlywood {
	background-color: #deb887;
	background-color: Burlywood;
}


/* Marker color section */
.backgroundColorAqua,
#markerList .markerColorAqua,
#markerList.extra-extended .extend_markerColorAqua {	background-color: Aqua;	color: black; }
#markerList.extended-color .markerColorAqua+li,
#markerList.extra-extended .markerColorAqua+li,
#markerList.extra-extended .extend_markerColorAqua,
#markerList.extra-extended .extend_markerColorAqua+li {	border-top-color: Aqua; }

.backgroundColorBisque,
#markerList .markerColorBisque,
#markerList.extra-extended .extend_markerColorBisque {	background-color: Bisque;	color: black; }
#markerList.extended-color .markerColorBisque+li,
#markerList.extra-extended .markerColorBisque+li,
#markerList.extra-extended .extend_markerColorBisque,
#markerList.extra-extended .extend_markerColorBisque+li {	border-top-color: Bisque; }

.backgroundColorChartreuse,
#markerList .markerColorChartreuse,
#markerList.extra-extended .extend_markerColorChartreuse {	background-color: Chartreuse;	color: black; }
#markerList.extended-color .markerColorChartreuse+li,
#markerList.extra-extended .markerColorChartreuse+li,
#markerList.extra-extended .extend_markerColorChartreuse,
#markerList.extra-extended .extend_markerColorChartreuse+li {	border-top-color: Chartreuse; }

.backgroundColorCoral,
#markerList .markerColorCoral,
#markerList.extra-extended .extend_markerColorCoral {	background-color: Coral;	color: black; }
#markerList.extended-color .markerColorCoral+li,
#markerList.extra-extended .markerColorCoral+li,
#markerList.extra-extended .extend_markerColorCoral,
#markerList.extra-extended .extend_markerColorCoral+li {	border-top-color: Coral; }

.backgroundColorPink,
#markerList .markerColorPink,
#markerList.extra-extended .extend_markerColorPink {	background-color: Pink;	color: black; }
#markerList.extended-color .markerColorPink+li,
#markerList.extra-extended .markerColorPink+li,
#markerList.extra-extended .extend_markerColorPink,
#markerList.extra-extended .extend_markerColorPink+li {	border-top-color: Pink; }

.backgroundColorBurlywood,
#markerList .markerColorBurlywood,
#markerList.extra-extended .extend_markerColorBurlywood {	background-color: Burlywood;	color: black; }
#markerList.extended-color .markerColorBurlywood+li,
#markerList.extra-extended .markerColorBurlywood+li,
#markerList.extra-extended .extend_markerColorBurlywood,
#markerList.extra-extended .extend_markerColorBurlywood+li {	border-top-color: Burlywood; }

.backgroundColorDarkcyan,
#markerList .markerColorDarkcyan,
#markerList.extra-extended .extend_markerColorDarkcyan {	background-color: Darkcyan;	color: black; }
#markerList.extended-color .markerColorDarkcyan+li,
#markerList.extra-extended .markerColorDarkcyan+li,
#markerList.extra-extended .extend_markerColorDarkcyan,
#markerList.extra-extended .extend_markerColorDarkcyan+li {	border-top-color: Darkcyan; }

.backgroundColorYellowgreen,
#markerList .markerColorYellowgreen,
#markerList.extra-extended .extend_markerColorYellowgreen {	background-color: Yellowgreen;	color: black; }
#markerList.extended-color .markerColorYellowgreen+li,
#markerList.extra-extended .markerColorYellowgreen+li,
#markerList.extra-extended .extend_markerColorYellowgreen,
#markerList.extra-extended .extend_markerColorYellowgreen+li {	border-top-color: Yellowgreen; }

.backgroundColorPeru,
#markerList .markerColorPeru,
#markerList.extra-extended .extend_markerColorPeru {	background-color: Peru;	color: black; }
#markerList.extended-color .markerColorPeru+li,
#markerList.extra-extended .markerColorPeru+li,
#markerList.extra-extended .extend_markerColorPeru,
#markerList.extra-extended .extend_markerColorPeru+li {	border-top-color: Peru; }

.backgroundColorViolet,
#markerList .markerColorViolet,
#markerList.extra-extended .extend_markerColorViolet {	background-color: Violet;	color: black; }
#markerList.extended-color .markerColorViolet+li,
#markerList.extra-extended .markerColorViolet+li,
#markerList.extra-extended .extend_markerColorViolet,
#markerList.extra-extended .extend_markerColorViolet+li {	border-top-color: Violet; }


.table-row-selectable tr:hover{
	cursor: pointer;
	outline-width: 1px;
	outline-style: auto;
}

.drop-active {
	border: solid 20px;
	border-left: 0px;
	border-right: 0px;

}


.overFilm{
	z-index: 10;
}

.onTop{
	z-index: 99;
}

.thinLineTop {
	border-top: 1px solid lightgray;
}

.pictureActive .hideOnPicture {
	display: none !important;
}


@media (min-width:576px){ /* ie width is GREATER than 576px */
	/* NOT ON MOBILE-PHONES */

	.h-fit-content-on-not-mobile {
		height: fit-content !important;
	}
}


@media screen and (max-width: 576px) { /* ie width is LESS than 576px */
	/* This is only for mobile phones: */
	body{
		overflow-x: auto !important;
	}


	.mw-fit-content-on-mobile	{	min-width: fit-content		!important;	}

	.full-height-on-mobile {
		height: 100%;
	}
	.w-auto-on-mobile {
		width: auto;
	}
	.normalSize-on-mobile {
		font-size: 14px;
	}

	[for=fileUploader] {
		font-size: 1.1em;
	}
	.svg-inline--fa.fa-stack-1x {
		height: 1em;
		width: 1em;
		left: 0.5em;
		top: 0.3em;
	}

	input[type="button"],
	input[type="text"],
	input[type="number"],
	button, [for=fileUploader] {
		min-width: 42px;
		min-height: 35px;
	}
	#userNoteSection {
		min-width: 300px;
	}

	.fixToBottomRightOnMobile {
		position: fixed;
		right: 13px;
		bottom: 18px;
		z-index: 11;
	}

	.doubleSliders{
		height: 95%;
	}

	#timeSection{
		flex-direction: row-reverse;
		align-items: baseline;
	}

	.overflow-y-auto-on-mobile {
		overflow-y: auto !important;
	}

	.roundButt {
		border-width: 27px;
	}
	.roundButt:hover{
		border-width: 29px;
		margin: 2px;
	}
	.roundButt:active{
		border-width: 31px;
		margin: 0;
	}

	.centerRoundButtCommon {
		width: 52px;
		height: 52px;
	}

	.big-on-mobile {
		font-size: 58px;
	}

	.play.hidden-on-mobile-on-play,
	.pause.hidden-on-mobile-on-pause {
		display: none !important;
	}

	#infoSection.wait {
		position: fixed;
		background: transparent;
		text-align: center;
		width: 100%;
	}

	#loopButtons {
		width: 155px;
	}

	.colorPickerWidth {
		width: 170px;
	}

	.hidden-on-mobile {
		display: none !important;
	}

	/* special for songList*/
  #songPickerAttachedArea #superSonglistArea,
  #songPickerAttachedArea #songListsList {
  	max-width: calc(100vw - 10px);
  }
}
