:root {
  /* Layout*/
  --container-padding-x: 12px;

  /* sliders */
  --slider-track-width: 3px;
  --slider-thumb-size: 19px;
  --slider-playback-region-width: 7px;

  /* buttons */
  --button-border-radius: 0;
  --hover-size: 2px;
  --active-size: 4px;
  --hover-fuzzy: 0;
  --active-fuzzy: 0;

  /* markers */
  --button-height: 46px; /*onlye for marker height, not for actual buttons...*/
  --slider-top-padding: 0px;
  --slider-horizontal-padding: 8px;
  --marker-gap: 4px;
}
