# Default ignored files
/shelf/
/workspace.xml
/CNAME
CNAME
assets/screenshots/InkScape/
assets/screenshots/Mockups/
assets/screenshots/extra/
assets/screenshots/gimp/
assets/screenshots/unfinished screengrabs/
